includes:
	- phpstan-baseline.neon

parameters:
	level: 8
	paths:
		- src
	excludePaths:
		- vendor
	
	# Strict rules
	checkMissingCallableSignature: true
	
	# Report unused
	checkUninitializedProperties: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkImplicitMixed: true
	
	# Bleeding edge
	reportUnmatchedIgnoredErrors: true
	treatPhpDocTypesAsCertain: false
